body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

.main-app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  background-image: linear-gradient(
    45deg,
    hsl(110, 46%, 60%),
    hsl(141, 40%, 54%),
    hsl(163, 39%, 49%),
    #34a0a4,
    #168aad,
    #1a759f,
    #1e6091
  );
  background-size: 300%;
  background-position: left;
  animation: banner-animation 25s infinite alternate;
}

@keyframes banner-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
