body {
  min-height: 100vh;
}

.main-app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-app::before {
  content: 'Words';
  font-size: 3rem;
  font-weight: 900;
  top: 50px;
  right: 25px;
  z-index: 1;
  position: absolute;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #fff 25%,
    hsl(210, 11%, 97%),
    hsl(210, 11%, 95%),
    #fff 80%
  );
  opacity: 0.6;
}

.main-app::after {
  content: 'Quiz';
  font-size: 3rem;
  font-weight: 900;
  top: 0;
  right: 25px;
  z-index: 0;
  position: absolute;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #fff 25%,
    hsl(210, 11%, 97%),
    hsl(210, 11%, 95%),
    #fff 80%
  );
  opacity: 0.6;
}

.banner {
  background-image: linear-gradient(
    45deg,
    hsl(110, 46%, 51%),
    hsl(141, 40%, 47%),
    hsl(163, 39%, 45%),
    hsl(182, 52%, 42%),
    hsl(194, 77%, 38%),
    hsl(199, 72%, 36%),
    hsl(206, 66%, 34%)
  );
  background-size: 300%;
  background-position: left;
  animation: banner-animation 30s infinite alternate;
  min-height: 500px;
}

@keyframes banner-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.bg-card {
  background-color: rgba(255, 255, 255, 0.85);
}

.bg-question {
  background: hsla(110, 40%, 60%, 0.35);
  color: white;
}

.btn-next {
  background: none;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  color: white;
  border: solid 2px currentColor;
  border-radius: 9999px;
  transition: color 200ms;
}

.btn-next:hover,
.btn-next:focus {
  color: black;
}

.custom-alert {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 60px;
  border-radius: 0.3em;
  padding: 0 0.2em;
}

.custom-alert-success {
  color: hsl(120, 100%, 30%);
}

.custom-alert-danger {
  color: hsl(0, 60%, 50%);
}

.card-bottom {
  margin-top: auto;
}

.streak-display {
  position: relative;
}

.streak-bg {
  background-color: hsla(0, 0%, 30%, 0.7);
  border-radius: 0.25rem;
  width: 52px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.streak {
  width: 42px;
  height: 8px;
  border-radius: 0.5em;
  background-image: radial-gradient(
    hsla(0, 0%, 90%, 0.5),
    hsla(0, 0%, 73%, 0.5)
  );
  position: relative;
}

.streak::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  background-image: radial-gradient(hsl(120, 80%, 52%), hsl(120, 95%, 32%) 95%);
  box-shadow: 0 0 4px hsl(120, 80%, 70%);
  opacity: 0;
  transition: opacity 250ms ease;
}

.streak-on.streak::after {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .custom-alert {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 20px;
  }
  .banner {
    min-height: 540px;
  }
}

@media (max-width: 640px) {
  .banner {
    min-height: 540px;
  }
  .main-app::before {
    top: 0;
    right: 10px;
  }
  .main-app::after {
    top: 0;
    left: 10px;
  }
  .custom-alert {
    right: 17px;
    transform: none;
    top: 94px;
  }
  .btn-next {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

@media (max-width: 375px) {
  .custom-alert {
    right: 50%;
    transform: translateX(50%);
    top: 22px;
    z-index: 1;
    background: hsl(0, 0%, 95%);
    width: fit-content;
  }
  .main-app::after,
  .main-app::before {
    font-size: 2em;
  }
  .btn-next {
    font-size: 0.9em;
  }
}
////////bootstrap overrides
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/variables';

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: hsl(97, 75%, 32%);
  color: white;
  border-color: hsl(97, 75%, 32%);
  box-shadow: 0 0 8px $danger;
}

@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
