body {
  min-height: 100vh;
}

.main-app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-app::before {
  content: 'Words';
  font-size: 3rem;
  font-weight: 900;
  top: 50px;
  right: 25px;
  z-index: 1;
  position: absolute;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #fff 25%,
    hsl(210, 11%, 97%),
    hsl(210, 11%, 95%),
    #fff 80%
  );
  opacity: 0.6;
}

.main-app::after {
  content: 'Quiz';
  font-size: 3rem;
  font-weight: 900;
  top: 0;
  right: 25px;
  z-index: 0;
  position: absolute;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #fff 25%,
    hsl(210, 11%, 97%),
    hsl(210, 11%, 95%),
    #fff 80%
  );
  opacity: 0.6;
}

.banner {
  background-image: linear-gradient(
    45deg,
    hsl(110, 46%, 60%),
    hsl(141, 40%, 54%),
    hsl(163, 39%, 49%),
    #34a0a4,
    #168aad,
    #1a759f,
    #1e6091
  );
  background-size: 300%;
  background-position: left;
  animation: banner-animation 30s infinite alternate;
  min-height: 500px;
}

@keyframes banner-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.bg-card {
  background-color: rgba(255, 255, 255, 0.85);
}

.bg-question {
  background: hsla(110, 40%, 60%, 0.35);
  color: white;
}

.btn-next {
  background: none;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: white;
  border: solid 2px currentColor;
  border-radius: 9999px;
  transition: color 200ms;
}

.btn-next:hover,
.btn-next:focus {
  color: black;
}

.custom-alert {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 60px;
  border-radius: 0.3em;
  background-color: hsla(0, 0%, 100%, 0.75);
  padding: 0 0.2em;
}

.custom-alert-success {
  color: hsl(120, 100%, 30%);
}

.custom-alert-danger {
  color: hsl(0, 60%, 50%);
}

@media (max-width: 991px) {
  .banner {
    min-height: 585px;
  }
}

@media (max-width: 640px) {
  .main-app::before {
    top: 0;
    right: 10px;
  }
  .main-app::after {
    top: 0;
    left: 10px;
  }
  .custom-alert {
    right: 17px;
    transform: none;
    top: 94px;
  }
}

////////bootstrap overrides

@import '../node_modules/bootstrap/scss/functions';

@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/variables';

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: hsl(97, 75%, 32%);
  color: white;
  border-color: hsl(97, 75%, 32%);
  box-shadow: 0 0 8px $danger;
}

@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
